<main class="grid grid-cols-2 gap-8 flex flex-col items-center justify-between bg-white">
    <section class="flex flex-col items-center justify-center">
        <img src="/assets/images/logo.png" alt="MyRestaurant Logo" class="w-48 h-auto">
        <h1 class="font-serif text-[#9e3d00] text-2xl font-semibold mt-4">MyRestaurant</h1>
    </section>

    <!-- Update Password Form -->
    <section class="space-y-6 mt-10 p-6 sm:p-8">
        <div>
            <h1 class="font-serif text-[#9e3d00] text-2xl font-semibold">Update Password</h1>
            <p class="mt-2 text-sm text-[#351000]/70">
                Please enter your new password below.
            </p>
        </div>

        <form (ngSubmit)="updatePassword()" class="space-y-6">

            @if (error()) {
                <div class="rounded-md bg-red-500/20 p-3 text-red-900">
                    {{ error() }}
                </div>
            }

            @if (success()) {
                <div class="rounded-md bg-green-500/20 p-3 text-green-900">
                    {{ success() }}
                </div>
                <div>
                    Login with your new password <a routerLink="/login" class="text-[#9e3d00] hover:underline">here</a>.
                </div>
            }

            <div>
                <label for="newPassword" class="block text-sm font-medium">New Password</label>
                <input
                    type="password"
                    id="newPassword"
                    name="newPassword"
                    [(ngModel)]="password"
                    required
                    placeholder="Enter new password"
                    class="mt-1 block w-full rounded-md border border-black bg-transparent p-2 text-black placeholder-black/40 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            <button
                type="submit"
                [disabled]="loading()"
                class="cursor-pointer w-full rounded-md bg-[#9e3d00] py-2 px-4 text-white hover:bg-[#7f3100] disabled:opacity-50">

                @if (loading()) {
                    Updating...
                } @else {
                    Update Password
                }

            </button>

        </form>
    </section>    
</main>